name: Endor Labs PR Scan

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  scan:
    permissions:
      contents: read
      pull-requests: write       # needed for PR comments
      # id-token: write          # remove when using API key auth
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Endor Labs Scan PR to Default Branch
        if: github.event_name == 'pull_request'
        uses: endorlabs/github-action@d513d138f50bc313ad32a395322761ff7bfeda6c
        with:
          endorctl_version: 'v1.7.682'
          endorctl_checksum: 'c5a6810fb6461178b56ffd718fd9def0dfc44982c47610982b380ca31503a888'
          namespace: 'test_kamakshya.gl-template'
          pr: true
          scan_dependencies: true
          scan_secrets: true
          enable_pr_comments: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          api_key: ${{ secrets.ENDOR_API_CREDENTIALS_KEY_STG }}
          api_secret: ${{ secrets.ENDOR_API_CREDENTIALS_SECRET_STG }}
          enable_github_action_token: false
          additional_args: >
            --api https://api.staging.endorlabs.com
            --scm-token=${{ secrets.GITHUB_TOKEN }}
